#debug-box:before {
  background: yellow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}
@media only screen and (max-width: 480px) {
  #debug-box:before {
    content: "phone";
  }
}
@media only screen and (max-width: 359px) {
  #debug-box:before {
    content: "small-phone";
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #debug-box:before {
    content: "tablet-portrait";
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  #debug-box:before {
    content: "large-tablet-portrait";
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #debug-box:before {
    content: "tablet-landscape";
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  #debug-box:before {
    content: "desktop";
  }
}
@media only screen and (min-width: 1200px) {
  #debug-box:before {
    content: "large-desktop";
  }
}
